@media screen and (max-width: 980px) {

	#content, header {
		width: 880px;
		margin: 0 auto;
	}

	header {
		height: auto;
		/* width: 100%; */
	}

	#logo {
		width: 30%;
		float: left;
	}

	#menu {
		float: right;
		width: 50%;
		text-align: center;
	}

	#menu nav a {
		margin: 0px 40px;
	}

	main {
		width: 60%;
	}

	main .content .about-me-img {
		float: left;
		max-width: 250px;
		height: auto;
	}

	/* main .main-box h1 {
		text-align: center;
	} */

	.content p {
		font-size: 14px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: left;
		width: 250px;
		margin-right: 28px;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}
	
}
@media screen and (max-width: 768px) {

	#content, header {
		width: 660px;
		margin: 0 auto;
	}

	#content {
		padding-bottom: 10px;
	}

	main {
		width: 100%;
		padding: 16px 0px 0px 0px;
		background: none;
		border: none;
	}

	.container {
		background: #fff;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	main .main-box h1 {
		width: 93.7%;
		margin: 0px auto 15px ;
	}

	header {
		height: auto;
	}

	#logo {
		width: 30%;
		float: left;
	}

	#menu {
		float: right;
		width: 50%;
		text-align: center;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 20px;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	main .content {
		padding: 0px 15px;
	}

	.content p {
		font-size: 20px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: left;
		width: 300px;
		margin-right: 20px;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}

}
@media screen and (max-width: 640px) {

	#content, header {
		width: 600px;
		margin: 0 auto;
	}

	#content {
		padding-bottom: 10px;
	}

	main {
		width: 100%;
		border: none;
		background: none;
	}

	.container {
		background: #fff;
		padding-top: 15px;
	}

	header {
		height: auto;
	}

	

	#logo, #menu {
		float: none;
		width: 100%;
		height: auto;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 40px;
		display: inline-block;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	.content p {
		font-size: 15px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block {
		margin-bottom: 20px;
	}

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}

}